/* See More Button */
#seeAllPhone{
    display: none;
}

#error-blank-input{
    display: none;
}

#error-not-found{
    display: none;
}

#spinner{
    display: none;
}

#result-container{
    display: none;
}