/* Error handle */

#error-blank-input{
    display: none;
}

#error-not-found{
    display: none;
}

/* Spinner Handle */
#spinner{
    display: none;
}

/* main content handle */
#result-container{
    display: none;
}

#seeAllPhone{
    display: none;
}